<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head th:replace="_fragment :: head(~{::title})">
    <title>主页</title>
</head>
<body>
<!--导航-->
<nav th:replace="_fragment :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">


</nav>

<!--中间内容-->
<div class="m-container m-padded-tb-big">
    <div class="ui container">
        <div class="ui stackable grid">
<!--            左边博客列表-->
            <div class="eleven wide column">
<!--                header-->
                <div class="ui top attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <h2 class="ui teal header">Blog</h2>
                        </div>
                        <div class="right aligned column">
                            共 <h3 class="ui orange header m-inline-block">14</h3> 篇
                        </div>
                    </div>
                </div>

<!--                content-->
                <div class="ui attached segment">
                    <div class="ui padded vertical segment m-padded-tb-large">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">到底怎样才能成为一个牛人？</h3>
                                <p class="m-text">想成为一个真正的牛人其实都是需要长期的努力的，需要惊人的专注力，每天持之以恒的去做同一件事，不断地加强练习，修炼，最终水滴石穿。下面我给你们举几个牛人例子......</p>
                                <div class="ui stackable grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://picsum.photos/100/100?image=1005" alt="" class="ui avatar image">
                                                <div class="content"><a class="header m-text-thin" href="#">周一</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2019-09-17
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 54
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">
                                            牛人升级
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://picsum.photos/800/450?image=1002" alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ui padded vertical segment m-padded-tb-large">
                        <div class="ui mobile reversed stackable grid">
                            <div class="eleven wide column">
                                <h3 class="ui header">牛人道路困难多</h3>
                                <p class="m-text">虽然跟随周一走上了牛人之路，但却是爆难，现在只能开始独自进行运球去上班的练习了，这篇文章就是写一下我的运球方法，没有别的目的。</p>
                                <div class="ui stackable grid">
                                    <div class="eleven wide column">
                                        <div class="ui mini horizontal link list">
                                            <div class="item">
                                                <img src="https://picsum.photos/100/100?image=1010" alt="" class="ui avatar image">
                                                <div class="content"><a class="header m-text-thin" href="#">潘雨匆</a></div>
                                            </div>
                                            <div class="item">
                                                <i class="calendar icon"></i> 2019-09-16
                                            </div>
                                            <div class="item">
                                                <i class="eye icon"></i> 1
                                            </div>
                                        </div>
                                    </div>
                                    <div class="right aligned five wide column">
                                        <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">
                                            运球上班
                                        </a>
                                </div>
                                </div>
                            </div>
                            <div class="five wide column">
                                <a href="#" target="_blank">
                                    <img src="https://picsum.photos/800/450?image=1025" alt="" class="ui rounded image">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

<!--                footer-->
                <div class="ui bottom attached segment">
                    <div class="ui middle aligned two column grid">
                        <div class="column">
                            <a href="#" class="ui mini teal basic button">上一页</a>
                        </div>
                        <div class="right aligned column">
                            <a href="#" class="ui mini teal basic button">下一页</a>
                        </div>
                    </div>
                </div>
            </div>
<!--            右边的top-->
            <div class="five wide column">
<!--                分类-->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="idea icon"></i>分类
                            </div>
                            <div class="column right aligned">
                                <a href="#" target="_blank">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
<!--                    分类-->
                    <div class="ui teal segment">
                        <div class="ui fluid vertical menu">
                            <a href="#" class="item">
                                牛人升级
                                <div class="ui teal basic left pointing label">10</div>
                            </a>
                            <a href="#" class="item">
                                运球上班
                                <div class="ui teal basic left pointing label">5</div>
                            </a>
                            <a href="#" class="item">
                                反光眼镜
                                <div class="ui teal basic left pointing label">13</div>
                            </a>
                            <a href="#" class="item">
                                牛人感悟
                                <div class="ui teal basic left pointing label">3</div>
                            </a>
                            <a href="#" class="item">
                                吃麦当劳
                                <div class="ui teal basic left pointing label">8</div>
                            </a>
                            <a href="#" class="item">
                                午后计划
                                <div class="ui teal basic left pointing label">5</div>
                            </a>
                        </div>
                    </div>
                </div>
                <!--                    标签-->
                <div class="ui segments">
                    <div class="ui secondary segment">
                        <div class="ui two column grid">
                            <div class="column">
                                <i class="tags icon"></i>标签
                            </div>
                            <div class="column right aligned">
                                <a href="#" target="_blank">more <i class="angle double right icon"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="ui teal segment">
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">方法论 <div class="detail">23</div></a>
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">麦当劳薯条 <div class="detail">10</div></a>
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">Spring boot <div class="detail">12</div></a>
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">牛人思想 <div class="detail">5</div></a>
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">潘雨匆 <div class="detail">1</div></a>
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">周一<div class="detail">3</div></a>
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">运球上班 <div class="detail">4</div></a>
                        <a href="#" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny">反光眼镜 <div class="detail">3</div></a>
                    </div>
                </div>


<!--                最新推荐-->
                <div class="ui segments m-margin-top-large">
                    <div class="ui secondary segment">
                        <i class="bookmark icon"></i>牛人推荐
                    </div>
                    <div class="ui segment">
                        <a href="#" target="_blank" class="m-black m-text-thin" >牛人故事 (niuer story)</a>
                    </div>
                    <div class="ui segment">
                        <a class="m-black" href="#" target="_blank">运球上班</a>
                    </div>
                    <div class="ui segment">
                        <a class="m-black" href="#" target="_blank">技术解析</a>
                    </div>
                </div>
<!--二维码-->
                <h4 class="ui horizontal divider header">扫码关注我</h4>
                <div class="ui centered card" style="width: 10em">
                    <img src="../static/images/wechat.png" alt="" class="ui rounded image" th:src="@{/images/wechat.png}">
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<!--底部-->
<footer th:replace="_fragment :: footer" class="ui inverted vertical segment m-padded-tb-massive">
</footer>


<th:block th:replace="_fragment :: script">

</th:block>

<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</body>
</html>