<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragment :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
    <title>分类页</title>
</head>
<body>
<!--导航-->
<nav th:replace="_fragment :: menu(2)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu ">
            <h2 class="ui teal header item">Yi Blog</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>归档</a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini info icon"></i>关于我</a>
            <div class="right item m-mobile-hide">
                <div class="ui icon inverted transparent input">
                    <input type="text" placeholder="Search..."/>
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
        <i class="sidebar icon"></i>
    </a>

</nav>

<!--中间内容-->
<div class="m-container-small m-padded-tb-big">
    <div class="ui container">
<!--        header-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h2 class="ui teal header">分类</h2>
                </div>
                <div class="right aligned column">
                    共 <h3 class="ui orange header m-inline-block">14</h3> 个
                </div>
            </div>
        </div>
        <div class="ui attached segment m-padded-tb-large">
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic teal button">牛人升级</a>
                <div class="ui basic teal left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic button">运球上班</a>
                <div class="ui basic left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic button">反光眼镜</a>
                <div class="ui basic left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic button">牛人感悟</a>
                <div class="ui basic left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic button">吃麦当劳</a>
                <div class="ui basic left pointing label">24</div>
            </div>
            <div class="ui labeled button m-margin-tb-tiny">
                <a href="#" class="ui basic button">午后计划</a>
                <div class="ui basic left pointing label">24</div>
            </div>
        </div>

        <div class="ui top attached teal segment">
            <div class="ui attached segment">
                <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                    <div class="ui mobile reversed stackable grid">
                        <div class="eleven wide column">
                            <h3 class="ui header">到底怎样才能成为一个牛人？</h3>
                            <p class="m-text">想成为一个真正的牛人其实都是需要长期的努力的，需要惊人的专注力，每天持之以恒的去做同一件事，不断地加强练习，修炼，最终水滴石穿。下面我给你们举几个牛人例子......</p>
                            <div class="ui stackable grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="https://picsum.photos/100/100?image=1005" alt="" class="ui avatar image">
                                            <div class="content"><a class="header m-text-thin" href="#">周一</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i> 2019-09-17
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> 54
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">
                                        牛人升级
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/800/450?image=1002" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear">
                    <div class="ui mobile reversed stackable grid">
                        <div class="eleven wide column">
                            <h3 class="ui header">牛人道路困难多</h3>
                            <p class="m-text">虽然跟随周一走上了牛人之路，但却是爆难，现在只能开始独自进行运球去上班的练习了，这篇文章就是写一下我的运球方法，没有别的目的。</p>
                            <div class="ui stackable grid">
                                <div class="eleven wide column">
                                    <div class="ui mini horizontal link list">
                                        <div class="item">
                                            <img src="https://picsum.photos/100/100?image=1010" alt="" class="ui avatar image">
                                            <div class="content"><a class="header m-text-thin" href="#">潘雨匆</a></div>
                                        </div>
                                        <div class="item">
                                            <i class="calendar icon"></i> 2019-09-16
                                        </div>
                                        <div class="item">
                                            <i class="eye icon"></i> 1
                                        </div>
                                    </div>
                                </div>
                                <div class="right aligned five wide column">
                                    <a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin">
                                        运球上班
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="five wide column">
                            <a href="#" target="_blank">
                                <img src="https://picsum.photos/800/450?image=1025" alt="" class="ui rounded image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui bottom attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <a href="#" class="ui mini teal basic button">上一页</a>
                </div>
                <div class="right aligned column">
                    <a href="#" class="ui mini teal basic button">下一页</a>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<!--底部-->
<footer th:replace="_fragment :: footer" class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
        <div class="ui inverted divided stackable grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <img src="../static/images/wechat.png" class="ui rounded image" alt="" style="width: 100px">
                    </div>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">牛人故事 (Cower story)</a>
                    <a href="#" class="item">关于刻意练习的清单</a>
                    <a href="#" class="item">失败要趁早</a>
                    <a href="#" class="item">这第一名到底有多难</a>
                </div>
            </div>
            <div class="three wide column">
                <h4 class="ui inverted header m-text-thin">联系我</h4>
                <div class="ui inverted link list">
                    <a href="#" class="item">zhouyi119119@gmail.com</a>
                    <a href="#" class="item">QQ: 807182431</a>
                </div>
            </div>
            <div class="seven wide column">
                <h4 class="ui inverted header m-text-thin m-text-spaced">Yi</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客，会分享关于编程、写作、思考相关的任何内容，希望可以给来到这里的人有所帮助。</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2019 - 2022 YI Blog Designed by ZhouYi</p>
    </div>
</footer>


<!--js引用部分-->
<th:block th:replace="_fragment :: script">

</th:block>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });
</script>
</body>
</html>